/*página pré voto*/

#logo {
  width: 30%;
  height: 30%;
  border: outset 5px #FFFFFF;
  margin: auto;
  display: block;
}

body#prevoto {
  background: linear-gradient(180deg, #FFFFFF, #006C7D);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#inputchave {
  margin: 10px auto;
  height: 50px;
  width: 90%;
  border-radius: 15px;
  border: solid 3px;
  position: relative;
  top: 0px;
}

#tituloprevoto {
  color: #FFFFFF;
  position: relative;
  top: 10px;
  -webkit-text-stroke: 2px #000000;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-shadow: -5px 0px 0px #006C7D;

}

#buttonprevoto {
  margin: 10px auto;
  border-radius: 10px;
  color: white;
  background-color: #000000;
  border: none;
  height: 80px;
  width: 90%;
  font-size: 30px;
  font-weight: bold;
}


/*página votos*/
#buttonvotar {
  position: relative;
  top: 75px;
  border-radius: 10px;
  color: white;
  background-color: #3EB5F8;
  border: none;
  height: 80px;
  width: 90%;
  font-size: 30px;
  font-weight: bold;
}

#labelvotar {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}


/*pagina adm visualização de perguntas*/
#tabela {
  border: 5px solid white;
  border-collapse: collapse;
  width: 100%;
}

body#perguntas {
  background: linear-gradient(180deg, #26A4CD, #FFE000);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

tr,
th,
td {
  border: 2px solid white;
  text-align: center;
  color: #FFFFFF;
}

/*página inicio*/

html#inicio,
body#inicio {
  height: 101%;
  margin: 0;
  overflow-x: hidden;
  background-color: #FFD458;
}

#tituloinicio {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 10px;
}

#paragrafoinicio {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 10px;
}

#header {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  border: 5px solid;
}

a#header {
  display: inline-block;
  padding: 5% 3%;
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  background-color: rgba(46, 46, 46, 0.8);
  border: 1px solid;
  border-radius: 5px;
}


#logoheader {
  position: relative;
  width: 15%;
  height: 15%;
  border: outset 5px #FFFFFF;
  display: block;
}


/*página jogos*/
html#jogos,
body#jogos {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #58BBFF;
}

#buttonjogos {
  position: relative;
  border-radius: 10px;
  color: white;
  background-color: #000000;
  border: none;
  height: 80px;
  width: 80%;
  font-size: 30px;
  margin: 10px auto;
  font-weight: bold;
}

/* página mídias */

html#midias,
body#midias {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #58BBFF;
  }
